
.anmeldung {
	text-align: center;
	padding: 40px;
}

.row {
	padding-top: 0.5%;
	text-align: center;
}

.label.actic {
	color: black;
}

.page-footer {
	background-color: #4c4e52;
}
.page-footer p,h5 {
	text-align: left;
}

.nav-wrapper{
		background-color: #4c4e52;
		min-height: 100px;
		
		clear: both;
		
	
}
nav .brand-logo{

	padding: 3px;
	}






/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   .a.waves-effect waves-light.btn{
   background-color: #4c4e52;
   }
        