body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1 0 auto;
	padding: 100px;
	text-align: center;
}

.nav-wrapper{
		background-color: #4c4e52;
		min-height: 100px;
		
		clear: both;
		
	
}
.brand-logo{
	background-image: url("../../../image/logo.png");
	
 
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
}



.page-footer {
	background-color: #4c4e52;
}
.page-footer p,h5 {
	text-align: left;
}