body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

.font-black {
  color: black;
}

.btn, .btn-large {
  color: #000;
  background-color: #fff;
}

.btn:hover, .btn-large:hover {
  background-color: #783040;
  color: #fff;
}

.btn-floating {
  background-color: #783040;
}

.btn-floating:hover {
  background-color: white;
}

.material-icons.btn-color {
  color: white;
}

.material-icons.btn-color:hover {
  color: black;
}

ul#dropdown2.dropdown-content.active {
  position: absolute;
  margin-top: 50px;
}

ul#dropdown1.dropdown-content.active {
  position: absolute;
  margin-top: 50px;
}

.dropdown-content li>a, .dropdown-content>a, .dropdown-content {
  color: #000;
}

.nav-wrapper {
  background-color: #9e9e9e;
  min-height: 100px;
  clear: both;
}

nav .brand-logo {
  padding: 3px;
}

.anmeldung {
  text-align: center;
  padding: 40px;
}

.mitarbeiter {
  padding: 50px;
}

.card-image {
  width: 130px;
}

.row {
  padding-top: 0.5%;
  text-align: left;
}

.label.actic {
  color: black;
}

.page-footer {
  background-color: #4c4e52;
}

.page-footer p, h5 {
  text-align: left;
}

/* label color */
.input-field label {
  color: #783040;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #783040;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #783040;
  box-shadow: 0 1px 0 0 #783040;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #783040;
  box-shadow: 0 1px 0 0 #783040;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #783040;
  box-shadow: 0 1px 0 0 #783040;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #783040;
}

ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 10px 5px;
  width: 20%;
  background: #783040;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 5px -5px;
  width: 20%;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 5px -5px;
  width: 20%;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #783040;
  color: white !important
}
